@page "/Appointments"
@attribute [StreamRendering]
@inject AppointmentService AppointmentService

<PageTitle>Appointments</PageTitle>

<h1>Appointments</h1>

@if (AppointmentService.Appointments.Count == 0)
{
    <p><em>No appointments yet...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hospital</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in AppointmentService.Appointments)
            {
                <tr>
                    <td>@appointment.Patient.FirstName</td>
                    <td>@appointment.Hospital.Name</td>
                    <td>@($"{appointment.Doctor.FirstName} {appointment.Doctor.LastName}")</td>
                    <td>@appointment.Date.ToShortDateString()</td>
                    <td>@appointment.Date.ToShortTimeString()</td> <!-- You had no Time property -->
                </tr>
            }
        </tbody>
    </table>
}
