@page "/Appointments"
@attribute [StreamRendering]
@inject AppDbContext Db
@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Appointments</PageTitle>

<h1>Appointments</h1>

@if (appointments == null)
{
    <p><em>Loading appointments...</em></p>
}
else if (!appointments.Any())
{
    <p><em>No appointments yet...</em></p>
}
else
{
    <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Hospital</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments)
                {
                    <tr>
                        <td>@appointment.Patient.FirstName</td>
                        <td>@appointment.Hospital.Name</td>
                        <td>@($"{appointment.Doctor.FirstName} {appointment.Doctor.LastName}")</td>
                        <td>@appointment.Date.ToShortDateString()</td>
                        <td>@appointment.time</td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Appointment>? appointments;

    protected override async Task OnInitializedAsync()
    {
        appointments = await Db.Appointments
            .Include(a => a.Patient)
            .Include(a => a.Hospital)
            .Include(a => a.Doctor)
            .ToListAsync();
    }
}


